<div class="absolute top-0 left-0 right-0 mx-auto w-fit bg-white border border-gray-300 shadow-md flex space-x-4 p-2 -translate-y-1/2 rounded-lg">
  <%= link_to 'New Appointment', new_appointment_path, class: "px-4 py-2 hover:bg-gray-200 rounded-md transition duration-200 zoom" %>
  <%= link_to 'About Page', about_path, class: "px-4 py-2 hover:bg-gray-200 rounded-md transition duration-200 zoom" %>
  <%= link_to 'Accounts', new_user_registration_path, class: "px-4 py-2 hover:bg-gray-200 rounded-md transition duration-200 zoom" %>
  <%= link_to 'Settings', settings_path, class: "px-4 py-2 hover:bg-gray-200 rounded-md transition duration-200 zoom" %>
</div>