<p>Hello <%= @resource.first_name || @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Please note: This link will expire in 2 hours. If you didn’t request this change, you can safely ignore this email. Your password will remain unchanged.</p>

<p>If you believe this was a mistake or need assistance, please <%= link_to 'contact our support team', support_contact_url %>.</p>

<p>This is an automated message; please do not reply to this email.</p>